<h2><%= t('view.following_index_view') %></h2>
<table>
  <tr>
    <th><%= t('activerecord.attributes.user.name') %></th>
    <th><%= t('activerecord.attributes.user.email') %></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <%  if user.image && user.image.url %>
    <td><%= image_tag user.image.url, class: "article_icon_image" %></td>
    <% else %>
    <td><%= image src=default_url, class: "article_icon_image" %></td>
    <% end %>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to "記事一覧", user_articles_path(user_id: user.id) %></td>
  </tr>
  <% end %>
</table>
