<div class="col-md-6 col-md-offset-3">
  <h3><%= t('.sign_up') %></h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name %><br />
      <p><%= f.text_field :name, class: "sign_up_field", placeholder: "山田　太郎" %></p>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "sign_up_field", placeholder: "abc@def.com" %></p>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <p><%= f.password_field :password, autocomplete: "new-password", class: "sign_up_field" %></p>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <p><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "sign_up_field" %></p>
    </div>

    <div class="actions">
      <%= f.submit t('view.sign_up_register'), class: "btn-sign-up" %>
    </div>
  <% end %>
</div>
