<h6 class="more" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></h6>
<% comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <div class="comment-container">
        <div class="comment-box">
            <div class="comment-text">
                <div class="comment-entry">
                  <% if comment.user.image &&comment.user.image.url %>
                    <a><%= image_tag comment.user.image.url, class: "article_icon_image" %></a>
                  <% else %>
                    <a><%= image_tag "default.png", class: "article_icon_image" %></a>
                  <% end %>
                  <span class="comment-user">
                        <%= comment.user.name %>
                  </span>
                    <%= comment.content %>
                    <% if comment.user == current_user %>
                        <%= link_to article_comment_path(comment.article_id, comment.id), method: :delete, class: "glyphicon glyphicon-trash delete-icon" do %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
  <% end %>
<% end %>
