<%= form_with(model: @article, local: true) do |form| %>

<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= @article.errors.count %><%= t('errors.messages.error_count') %></h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="article_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
