<%= form_with(model: @article, local: true, url: choose_new_or_edit ) do |form| %>

<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= @article.errors.count %><%= t('errors.messages.error_count') %></h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="article_title">
    <%= form.text_field :title, class: "article_title_textfeild", placeholder: t('activerecord.attributes.article.title') %>
  </div>

  <div class="input tag_label">
    <% Tag.all.each do |tag| %>
    <%= form.check_box :tag_ids, { multiple: true, checked: tag[:checked], disabled: tag[:disabled], include_hidden: false }, tag[:id], class: "input-form", id: "tag_label_field" %>
    <label class="tag_label_name"><%= tag.name %></label>
    <% end %>
  </div>

  <div class="article_content">
    <%= form.text_area :content, class: "article_content_textarea", placeholder: t('activerecord.attributes.article.content')  %>
  </div>
  <div class="new-article-register-btn">
  <%= form.submit t('view.article_new'), class: "btn-new-article-register btn-sm" %>
  </div>
<% end %>
