<h1><%= t('view.article_index_view') %></h1>
<table>
  <tr>
    <th><%= t('activerecord.attributes.user.name') %></th>
    <th><%= t('activerecord.attributes.article.title') %></th>
    <th><%= t('activerecord.attributes.article.content') %></th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= article.user.name %></td>
    <td><%= markdown(article.title) %></td>
    <td><%= markdown(article.content) %></td>
    <td><%= link_to t('view.to_article_show_view'), article_path(article.id) %></td>
    <% if user_signed_in? %>
      <% if article.user_id == current_user.id %>
        <td><%= link_to t('view.to_article_edit_view'), edit_article_path(article.id), data: { confirm: t('notice.confirm_edit') } %></td>
        <td><%= link_to t('view.to_article_destroy_view'), article_path(article.id), method: :delete, data: { confirm: t('notice.confirm_destroy') } %></td>
      <% end %>
      <% unless article.user_id == current_user.id %>
        <% @like = current_user.likes.find_by(article_id: article.id) %>
          <% if @like.present? %>
            <td><%= link_to t('action.undo_like'), like_path(id: @like.id), method: :delete %></td>
          <% else %>
            <td><%= link_to t('action.do_like'), likes_path(article_id: article.id), method: :post %></td>
          <% end %>
      <% end %>
    <% end %>

  </tr>
<% end %>
</table>
