<h1><%= t('view.article_show_view') %></h1>
<p><%= t('activerecord.attributes.article.title') %>: <%= @article.title %></p>
<p><%= t('activerecord.attributes.article.content') %>: <%= @article.content %></p>

<%= link_to t('view.to_aticle_index_view'), articles_path %>
