<h1><%= t('view.article_show_view') %></h1>
<p><%= t('activerecord.attributes.article.title') %>: <%= markdown(@article.title) %></p>
<p><%= t('activerecord.attributes.article.content') %>: <%= markdown(@article.content) %></p>
<% @article.tags.each do |tag| %>
  <p><%= tag.name %></p>
<% end %>

<% if user_signed_in? %>
  <% if @article.user_id == current_user.id %>
    <%= link_to t('view.to_article_edit_view'), edit_article_path(@article.id) %>
    <%= link_to t('view.to_article_destroy_view'), article_path(@article.id), method: :delete, data: { confirm: t('notice.confirm_destroy') } %>
  <% end %>

  <% unless @article.user_id == current_user.id %>
    <% if @like.present? %>
      <%= link_to t('action.undo_like'), like_path(id: @like.id), method: :delete %>
    <% else %>
      <%= link_to t('action.do_like'), likes_path(article_id: @article.id), method: :post %>
    <% end %>
  <% end %>
<% end %>

<div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title"><%= t('view.comment_index_view') %></h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <h3 class="text-left"><%= t('view.comment_new_view') %></h3>
            <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
        </div>
    <% end %>
</div>

<%= link_to t('view.to_aticle_index_view'), articles_path %>
