<h1><%= t('view.article_show_view') %></h1>
<p><%= t('activerecord.attributes.article.title') %>: <%= markdown(@article.title) %></p>
<p><%= t('activerecord.attributes.article.content') %>: <%= markdown(@article.content) %></p>

<%= link_to t('view.to_article_edit_view'), edit_article_path(@article.id) %>
<%= link_to t('view.to_article_destroy_view'), article_path(@article.id), method: :delete, data: { confirm: t('notice.confirm_destroy') } %>
<%= link_to t('view.to_aticle_index_view'), articles_path %>
