r<!DOCTYPE html>
<html>
  <head>
    <title>Mitano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <% if user_signed_in? %>
    <div class="row">
      <li class="col-md-1"><%= link_to t('view.to_aticle_index_view'), articles_path %></li>
      <li class="col-md-1"><%= link_to t('view.stock_index_view'), stocks_path %></li>
      <li class="col-md-1"><%= link_to t('view.user_index_view'), users_path %></li>
      <li class="col-md-1"><%= link_to t('view.to_following_index_view'), followings_path %></li>
      <li class="col-md-1"><%= link_to t('view.to_like_index_view'), likes_path %></li>
      <li class="col-md-1"><%= link_to t('view.impressions_ranking_view'), impressions_path %></li>
      <li class="col-md-1"><%= link_to t('view.to_article_new_view'), new_article_path %></li>
      <li class="col-md-1"><%= link_to t('view.logout'), destroy_user_session_path, method: :delete %></li>
      <li class="col-md-1"><%=  current_user.name %></li>
    </div>
    <% else %>
    <div class="row">
      <li class="col-md-4"><%= link_to t('view.login'), new_user_session_path %></li>
      <li class="col-md-4"><%= link_to t('view.sign_up'), new_user_registration_path %></li>
      <li class="col-md-4"><%= link_to t('view.to_aticle_index_view'), articles_path %></li>
    </div>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
      <%= yield %>
      </div>
      <div class="col-md-1"></div>
    </div>
    </div>
  </body>
</html>
