<!DOCTYPE html>
<html>
  <head>
    <title>Mitano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <!-- bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="fixed-top">
    <nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a><%= link_to "Mitano", articles_path, class: "navbar-brand" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <!-- ログイン時 -->
        <!-- <div class="new_article_div"> -->
          <li><a class="new_article"><%= link_to t('view.to_article_new_view'), new_article_path, class: "btn btn-new-article btn-sm" %></a></li>
        <!-- </div> -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%  if current_user.image && current_user.image.url %>
            <%= image_tag current_user.image.url, class: "icon_image" %>
            <% else %>
            <%= image_tag "default.png", class: "icon_image" %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li><a><%= link_to t('view.stock_index_view'), stocks_path %></a></li>
            <li><a><%= link_to t('view.to_following_index_view'), followings_path %></a></li>
            <li><a><%= link_to t('view.to_like_index_view'), likes_path %></a></li>
            <li><a><%= link_to t('view.impressions_ranking_view'), impressions_path %></a></li>
            <% if current_user.admin? %>
            <li role="separator" class="divider"></li>
            <li><a><%= link_to t('view.to_admin_view'), rails_admin_path %></a></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a><%= link_to t('view.user_profile_edit_view'), edit_user_registration_path %></a></li>
            <li><a><%= link_to t('view.logout'), destroy_user_session_path, method: :delete %></a></li>
          </ul>
        </li>
        <!-- ログイン時 -->
        <% else %>
        <!-- ログアウト時 -->
        <li><a class="new_user_session"><%= link_to t('view.login'), new_user_session_path, class: "btn btn-new-user-session btn-sm" %></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "default.png", class: "icon_image" %>
          </a>
          <ul class="dropdown-menu">
            <li><a><%= link_to t('view.to_like_index_view'), likes_path %></a></li>
            <li><a><%= link_to t('view.impressions_ranking_view'), impressions_path %></a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to t('view.guest_sign_in'), users_guest_sign_in_path, method: :post, class: "login" %></li>
            <li role="separator" class="divider"></li>
            <li><a><%= link_to t('view.sign_up'), new_user_registration_path %></a></li>
          </ul>
        </li>
        <!-- ログアウト時 -->
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<main>
    <div class="container page">
    <!-- <div class="row"> -->
      <div class="col-md-8 col-md-offset-2">
      <% if notice %>
        <p class="alert alert-notice alert-warning"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      </div>
      </div>
    <!-- </div> -->
  </main>
    <footer class="footer">
    <div class="container">
      <p class="text-muted footer-text">Copyright 2021 Yuji Moriya All Rights Reserved.</p>
    </div>
  </footer>

  </body>
</html>
