<!DOCTYPE html>
<html>
  <head>
    <title>Mitano</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a><%= link_to "Mitano", articles_path, class: "navbar-brand" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <!-- ログイン時 -->
        <!-- <div class="new_article_div"> -->
          <li><a class="new_article"><%= link_to t('view.to_article_new_view'), new_article_path, class: "btn btn-new-article btn-sm" %></a></li>
        <!-- </div> -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%  if current_user.image && current_user.image.url %>
            <%= image_tag current_user.image.url, class: "icon_image" %>
            <% else %>
            <%= image_tag "default.png", class: "icon_image" %>
            <% end %>
          </a>
          <ul class="dropdown-menu">
            <li><a><%= link_to t('view.stock_index_view'), stocks_path %></a></li>
            <li><a><%= link_to t('view.user_index_view'), users_path %></a></li>
            <li><a><%= link_to t('view.to_following_index_view'), followings_path %></a></li>
            <li><a><%= link_to t('view.to_like_index_view'), likes_path %></a></li>
            <li><a><%= link_to t('view.impressions_ranking_view'), impressions_path %></a></li>
            <li role="separator" class="divider"></li>
            <li><a><%= link_to current_user.name, edit_user_registration_path %></a></li>
            <li><a><%= link_to t('view.logout'), destroy_user_session_path, method: :delete %></a></li>
          </ul>
        </li>
        <!-- ログイン時 -->
        <% else %>
        <!-- ログアウト時 -->
        <li><a><%= link_to t('view.login'), new_user_session_path %></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "default.png", class: "icon_image" %>
          </a>
          <ul class="dropdown-menu">
            <li><a><%= link_to t('view.to_like_index_view'), likes_path %></a></li>
            <li><a><%= link_to t('view.impressions_ranking_view'), impressions_path %></a></li>
            <li role="separator" class="divider"></li>
            <li><a><%= link_to t('view.sign_up'), new_user_registration_path %></a></li>
          </ul>
        </li>
        <!-- ログアウト時 -->
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">
    <!-- <div class="row"> -->
      <div class="col-md-8 col-md-offset-2">
      <% if notice %>
        <p class="alert alert-notice alert-warning"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
      </div>
    <!-- </div> -->
    </div>
  </body>
</html>
